@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@800&family=Recursive:wght@800&display=swap');

body {
	font-family: 'Merriweather Sans', sans-serif;
	font-family: 'Recursive', sans-serif;
	font-size: 50px;
}
.box{
	position: absolute;
}


@-webkit-keyframes move7 {
	0% {
		opacity: 0;
	}

	99% {opacity: 0}
	100% {
		opacity: 1;
	}
}
@-webkit-keyframes move8 {
	0% {opacity: 0}
	35% { opacity: 0 }

	45% {opacity: 1}
	
	55% {opacity: 0}

	60% {opacity: 1}

	65% {opacity: 0}

	67% {opacity: 0}
	68% {opacity: 1}


	89% {opacity: 1}
	90% {opacity: 0}
	100% {opacity: 0}
}
@-webkit-keyframes move9 {
	0% {
		opacity: 0;
	}
	80% {opacity: 0;}
	100% {
		opacity: 1;
	}